header {
    position: relative;
}
.navbar-main {
    width: 100%;
    box-shadow: 0px 1px 6px $color-grey;
    padding: 10px 30px;
    background-color: #FFFFFF;
    z-index: 8;
}
.navbar-brand {
    width: 250px;
    text-align: center;
    background-color: $color-blue;
    padding: 20px 0;
    height: auto;
    a {
        color: #FFFFFF;
    }
}
.navbar-main-left {
    .sl-form-search-group {
        margin: 0;
        .input-group-addon {
            background-color: #FFFFFF;
            border: 0;
        }
        .form-control {
            border-radius: 0;
            height: 40px;
            padding: 0;
            outline: none;
            border: 0;
            box-shadow: none;
        }
    }
}
.sl-navright-ul {
    li {
        display: inline-block;
        margin-left: 15px;
    }
}
