.sl-screen {
    margin-left: 250px;
    padding-top: 60px;
}
.sl-navbar {
    position: fixed;
    width: calc(100% - 250px);
    top: 0;
    z-index: 8;
}
.sl-screen-msg, .sl-screen-chat {
    width: 50%;
}
.sl-screen-msg {
    padding: 10px 20px;
    position: relative;
}
.sl-msg-head {
    li {
        display: inline-block;
        margin-right: 20px;
        .sp-label {
            cursor: pointer;
        }
    }
}
.msg-card {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 0px 3px $color-grey;
    margin-bottom: 15px;
    cursor: pointer;
    .text-at {
        @extend .text-xs;
        color: $color-grey;
    }
    &.active {
        background-color: $color-blue;
        color: #FFFFFF;
        a, .text-at {
            color: $color-blue-light;
        }
    }
    .msg-card-left {
        float: left;
        width: 30%;
        padding: 20px 22px;
        border-right: 2px solid $color-grey-vlight;
        p {
            margin-bottom: 2px;
        }
    }
}
.msg-card-middle {
    width: 60%;
    padding: 20px;
}
.msg-card-right {
    width: 10%;
    padding: 20px 0;
    text-align: center;
    .dropdown {
        cursor: pointer;
        margin-bottom: 20px;
    }
    .msg-card-profile {
        float: left;
    }
}
.sl-screen-chat {
    background-color: $color-grey-vlight;
    box-shadow: -1px 0px 6px $color-grey;
}
.sl-chat-page {
    padding: 30px;
}
.sl-schat-head {
    .sl-chat-head-img {
        float: left;
    }
}
.slt-chat-head-cont {
    overflow: hidden;
    margin-left: 60px;
    padding-bottom: 15px;
    border-bottom: 2px solid $color-grey-light;
    h4, p {
        margin: 0;
        margin-bottom: 4px;
    }
    p {
        @extend .text-xs;
        font-weight: 600;
        color: $color-grey;
    }
    .text-auth-wait {
        color: $color-orange;
    }
}
.sl-cht-date-head {
    @extend .text-xs;
    font-weight: 600;
    color: $color-grey;
    text-align: center;
    margin: 25px 0;
}
.sl-msg-thread {
    .sl-msgthrd-left {
        .sl-chat-prof-head {
            img {
                float: left;
            }
            p {
                margin-left: 40px;
            }
        }
        .sl-msg-box {
            background-color: white;
        }
    }
    .sl-msgthrd-right {
        float: right;
        .sl-chat-prof-head {
            text-align: right;
            img {
                float: right;
            }
            p {
                margin-right: 40px;
            }
        }
        .sl-msg-box {
            background-color: $color-shadow;
        }
        .sl-msg {
            float: right;
        }
    }
    .sl-msg {
        max-width: 70%;
    }
    .sl-chat-prof-head {
        margin-bottom: 10px;
        p {
            margin-top: 10px;
            overflow: hidden;
        }
    }
    .sl-msg-box {
        display: inline-block;
        padding: 25px;
        border-radius: 4px;
        @extend .sl-box-shadow;
        p {
            @extend .text-xs;
            margin: 0;
            line-height: 19px;
        }
    }
    .sl-cht-time {
        @extend .text-xs;
        color: $color-grey;
        margin: 10px 0;
    }
}
.sl-msg-form {
    background-color: #FFFFFF;
    margin-top: 15px;
    padding: 0 30px 20px;
    border-top: 2px solid $color-shadow;
}
.sl-inp-box {
    padding: 22px 0;
    .sl-attach-box {
        background-color: #FFFFFF;
        @extend .sl-box-shadow;
        padding: 7px 15px;
        border-radius: 5px;
        display: inline-block;
    }
    .sl-attach-ico {
        margin-right: 10px;
    }
    p {
        margin: 0;
    }
    .slt-attach-close {
        margin-left: 30px;
        font-size: 14px;
        color: $color-grey;
        font-weight: 600;
    }
}
.sl-inp-buttons {
    ul {
        float: left;
        margin-top: 15px;
        li {
            display: inline-block;
            margin-right: 30px;
        }
    }
    button {
        float: right;
    }
}
.sl-msg-controls {
    float: right;
    button {
        @extend .sl-box-shadow;
        font-size: 28px;
        line-height: 20px;
    }
}
