.sl-sidebar {
    width: 250px;
    box-shadow: 1px 1px 6px $color-grey;
    position: fixed;
    height: 100%;
}
.sl-profile-sec {
    text-align: center;
    padding: 90px 0 30px;
    .sl-lg-img {
        margin-bottom: 10px;
    }
}
.side-menu {
    li {
        a {
            display: block;
            padding: 18px 35px;
            border-left: 4px solid #FFFFFF;
            color: $color-grey;
            transition: all 0.3s ease;
            &.active, &:hover {
                color: $color-blue;
                background-color: $color-blue-vlight;
                border-color: $color-blue;
            }
        }
        .sl-ico {
            margin-right: 15px;
        }
    }
}
